h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(7, 7, 49);
    text-decoration: underline;
}

div input.lgrifo{
    width: 2em;
    height: 2em;
    text-align: center;
    font-weight: bold;
}



/* Esto es para cambiar el color del placeholder */
input.lgrifo::placeholder{
    /* color:rgba(255, 255, 255, 0.7); */
    color: black;
    font-weight: normal;
}


div#contenedor{
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

body{
    background-image: url("images/fondo.jpg");
}

div{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    color: rgb(7, 7, 49);

}